.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 500px;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: white;
  transition: 100ms ease;
  transition-delay: 50ms;
  z-index: 1;
}

.product:hover {
  transform: scale(1.015);
  transform-origin: center center;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.product__rating {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}

.product > img {
  max-height: 200px;
  width: 80%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 5px;
}

.product__info {
  width: 100%;
  margin-bottom: 5px;
  font-size: 10px;
}

.product__info:hover {
  text-decoration: wavy;
  text-transform: uppercase;
}

.product__price {
  margin-top: 5px;
}

.product > button {
  background: #f0c14b;
  border: none;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
}

.product > button:hover {
  color: white;
}
